# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Pusher Channels
VITE_PUSHER_KEY=bce323a4c0f2f7d43e44
VITE_PUSHER_CLUSTER=ap2

# Agora live streaming
VITE_AGORA_APP_ID=3506f53e13714b8dbf4849d2ff5816c5

